body {
  font-family : sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}
a {
  color: white;
}
.main {
  display: inline-block;
}

footer {
  margin-top: 20px;
}
#stats {
  position: absolute;
  width: 800px;
  background-color: grey;
}
.statsBar {
  height:20px;
  text-align:center;
}
.statsBarContainer {
  height:20px;
  width:90%;
  background-color:black;
}
.statsColumn {
  width: 400px;
  float: left;
  color: #DDD;
}
